.section-description {
    &__title {
        position: relative;
        z-index: 3;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -35px;
            width: 75px;
            height: 75px;
            background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            transform: rotate(-45deg);
            z-index: -1;
        }
    }
    &__text {
        position: relative;
        padding-left: 50px;
        font-size: 24px;
        font-family: 'HelveticaItalic', sans-serif;
        z-index: 3;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            font-size: 18px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 0;
            width: 40px;
            height: 1px;
            background: $dark;
        }
    }
}
